:root{
    /* ----------------- Primary ---------------- */
    --bg__dark__blue:hsl(233 , 47% , 7%);
    --bg__desaturated__blue : hsl(244,38%,16%);
    --soft__violet : hsl(277, 64%, 61%);

    /* ----------------- Neutral ----------------- */
    --White : hsl(0,0%,100%);
    --Slightly__transparent-_p : hsl(0,0%,100%,0.75);
    --slightly__transparent__head: hsl(0,0%,100%,0.6);

    /* ---------------- Typography --------------- */
    --font__size: 15px;
    --font__family__inter: 'Inter', sans-serif;
    --font__family__lexend: 'Lexend Deca', sans-serif;

}

/* ------------- General ---------------- */

html{
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--bg__dark__blue);
    
}

p,
h1,
ul,
li,
body{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

/* ------------------ main content -------------- */

main{
    background-color: var(--bg__desaturated__blue) ;
    color: var(--White);
    width: 328px;
    /* height: 780px; */
    /* border: solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 88px auto;
    overflow: hidden;
   
}
img{
    max-width: 100%;
    max-height: 100%;
}
.hero__image{
  background-color: #AB5CDB;
  height: 241px;
 
}

.hero__image picture{
    mix-blend-mode:multiply;
}

.text__preview{
    margin: 31px;
}

.text__preview h1{
    text-align: center;
    font-size: 2.8rem;
    font-family: var(--font__family__inter);
    font-weight: 700;   
}

.text__preview h1 span{
    color: var(--soft__violet);
}

.text__preview p{
    text-align: center;
    font-size: var(--font__size);
    font-family: var(--font__family__inter);
    font-weight: 400;
    margin-top: 16px;
    opacity: 75%;

}

ul{
    list-style-type: none;
    margin-top: 40px;
    font-family: var(--font__family__inter);
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}

ul li span{
    display: block;
    opacity: 60%;
    font-family: var(--font__family__lexend);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 24px;
    text-transform: uppercase;
}

footer{
    text-align: center;
    font-size: 1.2rem;
    color: var(--White)
}
a{
    color: var(--soft__violet);
}